/*
 #GLOBAL
******************************************************************************/
:root {
  --yellow: #ffc600;
  --black: #272727;
  --upperSky: #19193F;
  --lowerSky: #62343E;
}



/*
 #GENERAL-STYLING
******************************************************************************/
html {
  box-sizing: border-box;
  font-size: 10px;
  color: var(--black);
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 300;
  text-transform: uppercase;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background: #04010C;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

h1 {
  color: var(--yellow);
  font-weight: 300;
}

ul {
  padding-left: 0;
}



/*
 #MAIN
******************************************************************************/
main {
  max-width: 1100px;
  margin: 0 auto;
  padding: 50px 0 50px 0;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-areas: 
  "sidebar calendar"
  "sidebar calendar";
}



/*
#SIDEBAR
******************************************************************************/
.sidebar {
  color: white;
  background: linear-gradient(45deg, var(--lowerSky), var(--upperSky) 60%);
  grid-area: sidebar;
  font-size: 1.5rem;
  padding-right: 5px;
}

.title {
  color: white;
}

.sidebar-header {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 10px;
  color: var(--yellow);
  letter-spacing: 5px;
}

.sidebar-header h4 {
  padding: 0 5px 0 5px;
  margin: 10px 0 5px 0;
}

.sidebar-list {
  list-style: none;
  margin: 0;
}

.list-days a {
  display: flex;
  align-items: center;
}

.list-days__num {
  color: var(--yellow);
  margin: 0;
  padding: 10px;
}

.list-days__img {
  display: none;
  height: 8rem;
  width: 8rem;
  border-radius: 100%;
  margin: 10px 0 10px 10px;
}

.list-days__title {
  color: white;
  margin: 0;
}




/*
 #CAL-HERO
******************************************************************************/
.cal-hero {
  /* grid-area: cal-hero; */
  /* background: no-repeat center/120% url("https://javascript30.com/images/JS3-social-share.png"); */
}

/* .cal-hero img {
  min-height: 100%;
} */




/*
#CALENDAR
******************************************************************************/
.calendar {
  background: #04010C;
  grid-area: calendar;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  /* grid-template-rows: 1fr 45px repeat(5, 1fr);original 45px */
}

.calendar img {
  grid-column: 1 / -1;
  grid-row: auto;
}

.box h1 {
  text-align: right;
  margin: 0;
  font-size: 3rem;
  padding: 10px;
}

.day1-box {
  /* border: solid red 2px; */
  background: no-repeat center/280% url(../images/Day1_JS_DrumKit.jpg);
  /* opacity: 0.5; */
}

.day2-box {
  background: no-repeat top/150% url(../images/Day2_JS_Clock.jpg);
}

.day3-box {
  background: no-repeat right/250% url(../images/Day3_CSS_Vars.jpg);
}

.day4-box {
  background: no-repeat center/200% url(../images/Day4_Array_Cardio_Day1.jpg);
}

.day5-box {
  background: no-repeat top/180% url(../images/Day5_Flexbox_imgGallery.jpg);
}

.day6-box {
  background: no-repeat top/270% url(../images/Day6_AJAX.jpg);
}

.day7-box {
  background: no-repeat center/200% url(../images/Day7_Array_Cardio_Day2.jpg);
}

.day8-box {
  background: no-repeat center/160% url(../images/Day8_Canvas.jpg);
}

.day9-box {
  background: no-repeat center/200% url(../images/Day9_Dev_Tool_Tricks.jpg);
}

.day10-box {
  background: no-repeat center/280% url(../images/Day10_Hold_Shift_Checkbox.jpg);
}

.day11-box {
  background: no-repeat center/280% url(../images/Day11_Custom_HTML5_Vid_Player.jpg);
}

.day12-box {
  background: no-repeat center/260% url(../images/Day12_Key_Detection.jpg);
}

.day13-box {
  background: no-repeat center/150% url(../images/Daty13_Slide_in_on_Scroll.jpg);
}

.day14-box {
  background: no-repeat center/260% url(../images/Day14_Ref_vs_Copy.jpg);
}

.day15-box {
  background: no-repeat center/200% url(../images/Day15_Localstorage_EventDelegation.jpg);
}

.day16-box {
  background: no-repeat center/250% url(../images/Day16_Mouse_Over_Effect.jpg);
}

.day17-box {
  background: no-repeat center/200% url(../images/Day17_Sorting_Names.jpg);
}

.day18-box {
  background: no-repeat center/200% url(../images/Day18_Tally_w_Reduce.jpg);
}

.day19-box {
  background: no-repeat center/180% url(../images/Day19_webcam_fun.jpg);
}

.day20-box {
  background: no-repeat center/200% url(../images/Day20_Speech_Detection.jpg);
}

.day21-box {
  background: no-repeat center/200% url(../images/Day21_geolocation.jpg);
}

.day22-box {
  background: no-repeat center/200% url(../images/Day22_follow_along_link_highlighter.jpg);
}

.day23-box {
  background: no-repeat bottom/240% url(../images/Day23_Speech_Synthesis.jpg);
}

.day24-box {
  background: no-repeat bottom/200% url(../images/Day24_sticky_nav.jpg);
}

.day25-box {
  background: no-repeat center/200% url(../images/Day25_eCapture_bubbling.jpg);
}

.day26-box {
  background: no-repeat center/200% url(../images/Day26_Stripe_nav.jpg);
}

.day27-box {
  background: no-repeat center/200% url(../images/Day27_click_and_drag.jpg);
}

.day28-box {
  background: no-repeat center/200% url(../images/Day28_vid_speed_controller.jpg);
}

.day29-box {
  background: no-repeat center/200% url(../images/Day29_countdown_timer.jpg);
}

.day30-box {
  background: no-repeat bottom/400% url(../images/Day30_whack-a-mole.jpg);
}

.day30-box > h1 {
  color: white;
  /* font-size: 4.5rem; */
}


.week-days {
  align-self: center;
  justify-self: end;
  margin: 0;
  color: var(--lowerSky);
}

.blank-day {
  background: var(--upperSky);
  border-left: solid #04010C 1px;
}

@media (max-width: 1082px) {
  main {
    grid-template-areas:
      "sidebar"
      "sidebar";
    grid-template-columns: 1fr;
    padding: 0;
  }

  .calendar {
    display: none;
  }

  .list-days__img {
    display: block;
  }

}

/* @media (min-width: 1082px) {
  .list-days__num {
    font-size: 5px;
  }
} */
