/*
 #GLOBAL
******************************************************************************/
:root {
  --yellow: #ffc600;
  --black: #272727;
  --upperSky: #19193F;
  --lowerSky: #62343E;
}



/*
 #GENERAL-STYLING
******************************************************************************/
html {
  box-sizing: border-box;
  font-size: 10px;
  color: var(--black);
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 300;
  text-transform: uppercase;
}

*, *:before, *:after {
  box-sizing: inherit;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

h1 {
  color: var(--yellow);
  font-weight: 300;
}


/*
 #MAIN
******************************************************************************/
main {
  max-width: 1100px;
  margin: 0 auto;
  padding: 50px 0 50px 0;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-areas: 
  "sidebar calendar"
  "sidebar calendar";
}



/*
#SIDEBAR
******************************************************************************/
.sidebar {
  color: white;
  background: linear-gradient(45deg, var(--lowerSky), var(--upperSky) 60%);
  border: solid black 2px; /* temp */
  grid-area: sidebar;
  font-size: 1.5rem;
}

.title {
  color: white;
}

.sidebar h4 {
  font-size: 2rem;
  margin: 10px 0;
}

.sidebar a {
  color: var(--yellow);
}

.sidebar-header {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 10px;
  padding-left: 10px;
  justify-items: center;
}

.sidebar-list {
  list-style: none;
  margin: 0;
  padding: 0 10px 0 10px;
  line-height: 3.5rem;
}



/*
 #CAL-HERO
******************************************************************************/
.cal-hero {
  /* grid-area: cal-hero; */
  /* background: no-repeat center/120% url("https://javascript30.com/images/JS3-social-share.png"); */
}

/* .cal-hero img {
  min-height: 100%;
} */




/*
#CALENDAR
******************************************************************************/
.calendar {
  background: #04010C;
  grid-area: calendar;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  /* grid-template-rows: 1fr 45px repeat(5, 1fr);original 45px */
}

.calendar img {
  grid-column: 1 / -1;
  grid-row: auto;
}

.day1-box {
  /* border: solid red 2px; */
  background: no-repeat center/200% url(../images/Day1_JS_DrumKit.jpg);
  /* opacity: 0.5; */
}

.day2-box {
  background: no-repeat top/150% url(../images/Day2_JS_Clock.jpg);
}

.day3-box {
  background: no-repeat right/250% url(../images/Day3_CSS_Vars.jpg);
}

.day4-box {
  background: no-repeat top/200% url(../images/Day4n7_Array_Cardio_D1-D2.jpg);
}

.day5-box {
  background: no-repeat top/180% url(../images/Day5_Flexbox_imgGallery.jpg);
}

.day6-box {
  background: no-repeat top/270% url(../images/Day6_AJAX.jpg);
}

.day7-box {
  background: no-repeat top/200% url(../images/Day4n7_Array_Cardio_D1-D2.jpg);
}

.day8-box {
  background: no-repeat center/160% url(../images/Day8_Canvas.jpg);
}

.box h1 {
  text-align: right;
  margin: 0;
  font-size: 3rem;
  padding: 10px;
}

.week-days {
  align-self: center;
  justify-self: end;
  margin: 0;
  color: var(--lowerSky);
}

.blank-day {
  background: var(--upperSky);
  border-left: solid #04010C 1px;
  border-right: solid #04010C 1px;
}